.profile-banner-container {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-banner {
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  box-shadow: var(--box_shadow);
}

.profile-banner img {
  object-fit: cover;
  height: 350px;
  width: auto;
}

.profile-page-container {
  width: auto;
  margin-left: auto;
}

.profile-bg {
  background-color: var(--home_background);
  color: var(--text_color);
  background-image: var(--image_background);
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  padding: 2% 5% 0% 5%;
}

.profile-details-section {
  background-image: var(--image_background);
  background-size: contain;
  background-repeat: repeat;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  background-color: var(--card_color);
  border-radius: 10px;

  box-shadow: var(--box_shadow);
  padding: 1%;
}

.profile-image-wrapper {
  justify-content: center;
  display: flex;
  margin-top: -150px;
  z-index: 2;
}

.profile-image-wrapper img {
  width: 250px;
  height: 250px;
  border-radius: 50%;

  box-shadow: var(--box_shadow);
}

.profile-details-wrapper {
  justify-content: center;
}

.profile-username {
  text-align: center;
}
#username {
  font-size: x-large;
}

.profile-username-follow-wrapper {
  display: flex;
  justify-content: center;
}
.profile-username-follow-wrapper .profile-username {
  margin: 0;
}
.profile-follow-unfollow-btn-wrapper {
  margin-left: 20px;
  position: relative;
}
.profile-follow-unfollow-btn {
  border: none;
  background: var(--primary-btn-bg);
  color: var(--secondary-bg);
  font-weight: 600;
  border-radius: 8px;
  padding: 7px 15px;
}
.profile-follow-unfollow-btn-wrapper .loading-spinner-wrapper {
  left: 10px;
}
.posts-followers-details-wrapper {
  margin: 20px 0;
}
.total-wrapper {
  margin-right: 40px;
}
.total-number {
  padding-right: 5px;
}
.font-w-500 {
  font-weight: 500;
}

.edit-profile {
  display: flex;
  justify-content: center;
}

.profile-post {
  border: solid;
}

.profile-post-container {
  border: solid;
}

@media (max-width: 375px) {
  .profile-banner {
    width: 100%;
    height: 50%;
  }

  .profile-page-container {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .profile-image-wrapper {
    width: 100px;
    height: 100px;
    margin-left: 2%;
    margin-top: -50px;
  }

  .profile-image-wrapper img {
    width: 100px;
    height: 100px;
  }
  .posts-followers-details-wrapper {
    margin: 10px 0 0 0;
    justify-content: space-between;
  }
  .total-wrapper {
    text-align: center;
    margin: 0;
    flex: 0;
    flex-wrap: wrap;
  }
  .profile-fullname-wrapper {
    display: none;
  }
  .mobile-screen {
    display: flex;
  }
  .mobile-screen .profile-fullname-wrapper {
    display: flex;
    margin-top: 10px;
  }
  .posts-list-section {
    max-width: auto;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--border-color);
  }
  .posts-list-container {
    max-width: 800px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
