.home-page-container {

  width: 100%;
  height:auto;
  position: relative;
  background-color: var(--home_background);
  margin-top: -5px;
  padding-top: 1%;
  padding-bottom: 2%;
  
}


.home-page{
  /* background-image: url(/public/images/pagenotfound/star1.png); */
  background-image: var(--image_background);
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  padding-bottom: 2%;
 
}

/* .home-page-feed{
  z-index: 2;
} */

@media (max-width: 426px) {
  .home-page-container {
    flex-direction: column;
  }
}

.story-post-wrapper {
  max-width: 470px;
  width: 100%;
  margin: 20px auto;
  background-color: var(--primary-bg);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .story-post-wrapper {
    max-width: 370px;
  }
}
