input:focus {
  border-color: blue;
  outline: none;
}

.signup-container {
  display: flex;
  justify-content: space-between;
  margin: 20%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 1px 4px 22px -8px #0004;
}

.signup-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px 50px;
  height: 100%;
  overflow: hidden;
  box-shadow: 1px 4px 22px -8px #0004;
}

.signup-poster {
  width: 450px;
  background-color: #113e6b;
}

.signup-poster-image {
  width: 100%;
  height: 100%;
}

.redirect-box {
  display: flex;
  justify-content: center;
}
.signup-confirm-email-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  width: 300px;
}

.confirm-email-image-wrapper {
  width: 100%;
  height: 300px;
}

.confirm-email-image {
  width: 100%;
  height: 100%;
}

.confirm-email-message {
  width: 100%;
}

@media (max-width: 426px) {
  .confirm-email-image-wrapper {
    height: auto;
  }

  /* responsive for mobile */
  @media (max-width: 426px) {
    .signup-container {
      margin: 0;
    }
    .signup-poster {
      display: none;
    }

    .logo-wrapper .instagram-logo {
      height: 70px;
      width: 200px;
    }

    .signup-box {
      margin: 0;
      border: none;
      padding: 0;
    }

    .login-form-wrapper {
      width: 100%;
    }
  }

  .errormessage {
    color: #aa4a44;
  }
}
